body {
    background: black;
    color: #00f0ff;
    font-family: monospace;
}

.container {
    margin: 100px auto;
    width: 300px;
}

button {
    background: red;
    color: white;
}

.sidebar {
    position: fixed;
    width: 200px;
    background: #111;
}

.main {
    margin-left: 210px;
}