body {
    margin: 0;
    font-family: 'Segoe UI';
    background: radial-gradient(circle, #020617, #000);
    color: white;
}

/* LAYOUT */
.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: rgba(15,23,42,0.9);
    padding: 20px;
    border-right: 1px solid rgba(255,255,255,0.1);
}

.sidebar div {
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar div:hover {
    color: cyan;
    transform: translateX(5px);
}

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
}

/* SECTION */
.section {
    display: none;
}

.section.active {
    display: block;
}

/* SCAN BOX */
.scanBox {
    display: flex;
    gap: 10px;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid cyan;
    background: #020617;
    color: white;
    width: 60%;
}

button {
    background: linear-gradient(45deg, cyan, #22c55e);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* RESULT */
.resultCard {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

/* MAP */
#mapBox {
    height: 450px;
    border-radius: 12px;
}

/* CHAT */
#chatBox {
    height: 300px;
    background: #020617;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}

.chatInput {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.userMsg {
    text-align: right;
    color: cyan;
}

.botMsg {
    color: #22c55e;
}