body{

background:black;
color:#00ff00;

font-family:monospace;

padding:40px;

}

input{

padding:10px;
margin:10px;

background:black;
color:#00ff00;
border:1px solid #00ff00;

}

button{

padding:10px;
margin:10px;

background:black;
color:#00ff00;
border:1px solid #00ff00;

cursor:pointer;

}

button:hover{

background:#003300;

}

pre{

background:#111;
padding:20px;
border:1px solid #00ff00;

}

.stats{

margin:30px;

}