document.addEventListener("DOMContentLoaded", () => {

    const socket = io();

    const urlInput = document.getElementById("urlInput");
    const chatInput = document.getElementById("chatInput");

    /* DEFAULT PAGE */
    show("scan");

    /* ENTER FIX */
    urlInput.addEventListener("keydown", e => {
        if (e.key === "Enter") scan();
    });

    chatInput.addEventListener("keydown", e => {
        if (e.key === "Enter") sendChat();
    });

    /* MAP INIT */
    window.map = L.map('mapBox').setView([20, 78], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
        .addTo(map);

    /* SOCKET RESULT */
    socket.on("scan_result", data => {

        const box = document.getElementById("result");

        if (data.prediction === "PHISHING") {
            box.innerHTML = "🚨 PHISHING | Risk: " + data.risk + "%";
        } else {
            box.innerHTML = "SAFE | Risk: " + data.risk + "%";
        }

        updateMap(data.geo);
    });

});


/* NAV */
function show(id) {

    document.querySelectorAll(".section").forEach(s => {
        s.classList.remove("active");
    });

    document.getElementById(id).classList.add("active");

    /* FIX MAP RENDER */
    if (id === "map") {
        setTimeout(() => {
            map.invalidateSize();
        }, 200);
    }
}


/* SCAN */
async function scan() {

    const url = document.getElementById("urlInput").value;

    await fetch("/scan", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({url})
    });
}


/* MAP UPDATE */
function updateMap(geo) {

    let user = [12.97, 77.59];
    let attacker = [geo.lat || 0, geo.lon || 0];

    L.marker(user).addTo(map).bindPopup("User");
    L.marker(attacker).addTo(map).bindPopup("Attacker");

    L.polyline([user, attacker]).addTo(map);
}


/* CHAT */
async function sendChat() {

    const input = document.getElementById("chatInput");
    const msg = input.value;

    const box = document.getElementById("chatBox");

    box.innerHTML += "<div>You: " + msg + "</div>";

    const res = await fetch("/chat", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({message: msg})
    });

    const data = await res.json();

    box.innerHTML += "<div>AI: " + data.reply + "</div>";
}