<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>AI Threat SOC</title>

<link rel="stylesheet" href="/static/css/dashboard.css">

<!-- SOCKET -->
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

<!-- MAP -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>

<body>

<!-- ALERT -->
<div id="alertBanner">🚨 CRITICAL THREAT DETECTED 🚨</div>

<div class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>⚡ SOC</h2>
        <div onclick="show('dashboard')">Dashboard</div>
        <div onclick="show('scanner')">Scanner</div>
        <div onclick="show('map')">Attack Map</div>
        <div onclick="show('logs')">Logs</div>
        <div onclick="show('assistant')">Assistant</div>
    </div>

    <!-- MAIN -->
    <div class="main">

        <!-- DASHBOARD -->
        <div id="dashboard" class="section active grid">

            <div class="card">
                <h3>Status</h3>
                <p id="status">🟢 Secure</p>
            </div>

            <div class="card">
                <h3>Total Scans</h3>
                <p id="total">0</p>
            </div>

            <div class="card">
                <h3>Threats</h3>
                <p id="threats">0</p>
            </div>

        </div>

        <!-- SCANNER -->
        <div id="scanner" class="section">
            <h2>URL Scanner</h2>

            <input id="urlInput" placeholder="Enter suspicious URL">
            <button onclick="scan()">Scan</button>

            <div id="result" class="result"></div>
        </div>

        <!-- MAP -->
        <div id="map" class="section">
            <h2>Attack Map</h2>
            <div id="mapBox"></div>
        </div>

        <!-- LOGS -->
        <div id="logs" class="section">
            <h2>SOC Console</h2>
            <div id="logBox"></div>
        </div>

        <!-- CHAT -->
        <div id="assistant" class="section">
            <h2>AI Assistant</h2>
            <div id="chatBox"></div>
            <input id="chatInput">
            <button onclick="ask()">Send</button>
        </div>

    </div>

</div>

<script src="/static/js/dashboard.js"></script>

</body>
</html>